{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock%}

{% block title %}
登录
{% endblock %}

{% block sidebar %}
<div class="box">
    <div class="cell">
        <span>其他登录方式</span>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="box">
    <div class="cell">
        <a href="/node/show/1">首页</a>
        <span>&nbsp;>&nbsp;</span>
        <span>登录</span>
    </div>
    <div class="cell">
        <form action="{{ url_for('.login') }}" method="POST">
            <div class="tableRow">
                <p>用户名</p>
                <p><input name="username" placeholder="用户名"></p>
            </div>
            <div class="tableRow">
                <p>密码</p>
                <p><input name="password" placeholder="密码" type="password"></p>
            </div>
            <div class="tableRow">
                <button class="submit" type="submit">登录</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}